<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>找不到该页面</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../../Common/bootstrap.min.css">
<link rel="stylesheet" href="../../Content/Index/404.css">

</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-5 align-self-center">
        
      </div>
      <div class="col-md-6 align-self-center">
        <h1>404</h1>
        <h2>UH OH! 页面丢失</h2>
        <p>您所寻找的页面不存在。你可以点击下面的按钮，返回主页。
        </p>
        <a href="Index.aspx"><button class="btn green">返回首页</button></a>
      </div>
    </div>
  </div>
</body></html>