<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../Common/bootstrap.min.css">
    <link rel="stylesheet" href="../../Content/Index/About.css">
    <title>About关于我们</title>
    <style>
        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <header>
        <a href="Index.aspx" id="header_img1"></a>
        <div id="header_img3"></div>
        <div id="header_img2">
            <img src="../../Images/Index/about.jpg" />
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class=" col-md-3">
                <div class="alert alert-success">
                    <h2>About</h2>
                    <h3>1.开发语言</h3>
                    <p>本项目由asp.net开发而成。</p>
                    <h3>2.开发环境</h3>
                    <p>Windows10、Visual studio2019、mysql8.0。</p>
                </div>
            </div>

            <div class=" col-md-6">
                <div class="alert alert-info">
                    <h2>Blog介绍</h2>
                    <h3>1.项目名称</h3>
                    <p>多人在线博客网站。</p>
                    <h3>2.1.项目背景</h3>
                    <p>随着网络的兴起，越来越多人走向软件开发的工作，博文分享在程序员的圈子里是一种主流旋律，多人博客可以为程序员提供博文发表的机会，同时可以给程序员分享自己观点、经验、代码。博客成为程序员不可或缺的一部分，作为多人在线博客网站就提供了这样的一个平台。</p>
                </div>
            </div>
            <div class=" col-md-3">
                <div class="alert alert-danger">
                    <h2>成员</h2>
                    <p>成焕新、李嘉豪、苗家宁、李馨野。</p>
                    <h2>分工</h2>
                    <p>首页模块（chx）,文章模块（lxy）,数据库/管理模块（ljh）,用户模块(mjn)。</p>
                </div>
            </div>
            </div>
        <div class="row">
            <div class=" col-md-3">
                <div class="alert alert-info">
                    <h2>
                        编写目的
                    </h2>
                    <p>目的是做一个完整的博客系统，并运用到学过的知识，综合git和软件测试进行考核aspnet掌握程度。</p>
                </div>
            </div>
            <div class=" col-md-6">
                <div class="alert alert-warning">
                    <h2>More About Us</h2>
                    <h3>开发日志</h3>
                    <p>
                        ### week1（5/15-5/17）

                        5-15：

                        * 大致确认大作业分工，走向，使用的工具：代码托管工具(gitee)，数据库(mysql8.0)，开发工具（vs2019）。

                        5-16：

                        * 确定项目类型，名称-每人推荐三种项目类型,（比如自动物流管理系统，博客系统，购票/购物系统，工作进度管理，任务外包发布）。
                        * 重新熟悉git的使用，建好git仓库。
                        * 完成项目分工。

                        5-17：

                        * 完成项目需求分析，系统设计（组长完成模块划分，组员完成自己模块简单分析，最后组长完善）。
                        * 完成首页模块。
                    </p>
                    <h3>更多开发日志处在开发中！！！</h3>
                </div>
            </div>
            <div class=" col-md-3">
                <div class="alert alert-info">
                    <h2>
                        软件定义
                    </h2>
                    <p>
                        本项目是一个多人在线博客，包含用户阅读博文，评论博文，个性化个人信息等功能。
                        技术上，本项目采用通常意义上的“三层架构”，从上至下即为：表示层，业务逻辑层，数据访问层。
                        开发上，我们组使用vs2019开发，使用Junit测试框架进行测试，将码云作为远程代码仓库，通过git进行代码合并和版本管理。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--  footer -->
    <footer>
        <p>CopyRight@copy2020 </p>
    </footer>
</body>

</html>